{% extends 'main.html' %}


{% block content %}
<section class="members mt-5 pt-5 container text-center">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Blogs</h1>
            <p class="lead text-muted">A place where we share a piece of our mind.</p>
            
           
          </div>
        </div>
      </section>
</section>
      <section class="allblogs container">

       
       


       <div class="row text-center">
        {% for blog in all_blogs %}
        <div class="col-md-6 col-lg-3 mt-5 px-5">
            <div class="card  text-center" style="width: 18rem;">
                <img src="{{ blog.image.url }}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ blog.title}}</h5>
                  <p class=" text-secondary ">-{{blog.author}}</p>
                  <p class="card-text">{{blog.body}}</p>
                  
                  <span><a href="{{blog.link}}" class="btn btn-outline-secondary">Read More</a></span>
                 
                 
                </div>
            </div>
               
        </div>
        {% endfor %}
    </div>
    
      </section>



{% endblock %}