{% extends 'main.html' %}

{% block content %}
{% load static %}
      <section class="header container col-xxl-8 mt-5 py-5">
        <div class="row">
          <div class="col-md-8">
            <h2 class="display-4 fw-bold">Apple Developer's Group SRM</h2>
            <br>
            <p>Apple Developers Group SRM is a student-run professional technical group based at SRM University, Kattankulathur. The group strives toward our mission to develop the existing technologies and bridge the technical gap between the community and the evolving technologies through various events, projects and series.
              We as a team follow a culture of inclusion which helps individuals develop themselves across various domains and explore their skills.  
              </p>
              <ul class="nav d-flex">
                <li ><a class="text-muted" href="https://www.linkedin.com/company/apple-developers-group-srm/"><i class="lni lni-linkedin-original"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://instagram.com/adgsrm?igshid=YmMyMTA2M2Y="><i class="lni lni-instagram-original"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://github.com/adgsrm"><i class="lni lni-github-original"></i></a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <img src="{% static 'header-logo.png' %}"  class="img-fluid overflow-hidden">
          </div>
        </div>
        
        
       </section>
       <br><br>
       <div class="container"><hr></div>
       <br><br>
       <section class="about">
        <div class="container col-xxl-8 px-4 py-5" data-aos="fade-in">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'aboutimage.avif' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Our Mission</h1>
                <p class="lead">To create a strong student community that is ready to pick up challenges and devise innovative solutions to solve them.</p>
               
              </div>
            </div>
          </div>
          <div class="container col-xxl-8 px-4 py-5" data-aos="fade-in">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Our Vision</h1>
                    <p class="lead">To create an environment where one gains comprehensive learning and confidence to face the world.
                    </p>
                   
                  </div>
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'vision-img.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              
            </div>
          </div>
          
       </section>

       <section class="domains" >
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Our Domains</h2>
            <p class="lead">We as a team work together but to be able to reach out to you in a much efficient manner, our team members work under one of the three domains:</p> 
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" data-aos="fade-in">
              

              <div class="col">
                
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg  custom-card" id="creatives-card" data-bs-toggle="modal" data-bs-target="#creativeModal">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Creatives</h2>
                    
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="creativeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Creatives</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        The Creatives domain serves as the skin of the club. With their magical wands and creative minds, the members of this domain present the amazing visuals that catches everyones attention.

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg custom-card"id="corporate-card" data-bs-toggle="modal" data-bs-target="#corporateModal">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Corporate</h2>
                   
                  </div>
                </div>
                <div class="modal fade" id="corporateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Corporate</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        The Corporate domain serves as the nervous system of the club. Using their analytical data and strategic thinking, the members of this domain try to figure out the needs of the society and cater to them.
                
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg custom-card" id="technical-card"  data-bs-toggle="modal" data-bs-target="#technicalModal">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Technical</h2>
                   
                  </div>
                </div>
                <div class="modal fade" id="technicalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Creatives</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        The Technical domain serves as the skeleton of the club. The members of this domain share their expertise with our peers and at the same time use their technical skill sets to develop amazing projects to contribute to the technological advancement.

                
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </section>
       
    {% endblock %}